body {
    margin: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header, .sect-1 .footer {
    background-color: #1f2937;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.logo {
    padding-left: 200px;
}

.right-links {
    display: flex;
    gap: 10px;
    padding-left: 0;
    padding-right: 200px;
}

.sect-1 {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-bottom: 100px;
}

.sect-1-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.sect-1-body {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.left-sect-1 {
    padding-left: 200px;
    width: 480px;
}

.right-image {
    display: flex;
    width: 480px;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 16px;
    border-style: solid;
}

button.top {
    background: #3882f6;
    color: white;
    border-color: #3882f6;
}

.sect-2 {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.sect-2-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 20px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.babies {
    border: 5px #3882f6;
    border-style: solid;
    border-radius: 10px;
}

.pics {
    width: auto;
}

.sect-3 {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 {
    display: flex;
    flex-direction: column;
    padding: 100px;
    max-width: 830px;
}

.thor {
    color: black;
    font-weight: bold;
    font-size: 20px;
    align-self: flex-end;
    margin-right: 20px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    align-self: flex-start;
    margin: 0;
}

.pics {
    max-width: 177px;
}

.sect-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 200px;
}

.container-3 {
    display: flex;
    background-color: #3882f6;
    align-content: center;
    padding: 30px 130px;
    border-radius: 8px;
    border-style: solid;
    border-color: #3882f6;
    color: white;
}

.call, .sign-up {
    margin: 0;
}

.sign-up {
    font-size: 16   px;
}

.call {
    font-weight: bold;
    font-size: 20px;
}

.bottom {
    white-space: nowrap;
    margin-left: 200px;
    background-color: #3882f6;
    border-color: white;
    color: white;
    font-weight: bold;
}

.right-sect-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

